<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Price Center DBM Login</title>
    <link rel="stylesheet" href="https://tpcstatic.nyc3.digitaloceanspaces.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tpcstatic.nyc3.digitaloceanspaces.com/css/tpcdbm.css">
  </head>
  <body>
    <div class="container mycontent" style="text-align:center">
      <h3>Price Center DBM Login</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-dark" value="Login">
      </form>
    </div>
  </body>
</html>
